$border_color:rgb(224, 220, 220);
$text_color: #6c757d;
.title{
    font-size: 2em;
    text-align: center;
    border-bottom: 1px solid $border_color;
    padding: 1em;
}

.title a {
    color: black !important;
    text-decoration: none !important;
}

.navbar {
    font-size:  1.2em;
    text-align: center;
    color: black;
    border-bottom: 1px solid $border_color;
    padding: 0.5em;
}
.nav-item{
    padding: 10px;
    text-decoration: none;
    color: $text_color;
}
.nav-item:visited, .nav-item:active, .nav-item:focus {
    text-decoration: none;
    color: $text_color;
}

.nav-item:hover{
    text-decoration: underline;
}