@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/dark';

$nb-enable-css-custom-properties: true;

$nb-themes: nb-register-theme((

  color-primary-100: #DFDCFE,
  color-primary-200: #BFB9FD,
  color-primary-300: #9D95FB,
  color-primary-400: #837AF8,
  color-primary-500: #5A4FF4,
  color-primary-600: #4239D1,
  color-primary-700: #2E27AF,
  color-primary-800: #1E198D,
  color-primary-900: #130F75,
  color-primary-transparent-100: rgba(90, 79, 244, 0.08),
  color-primary-transparent-200: rgba(90, 79, 244, 0.16),
  color-primary-transparent-300: rgba(90, 79, 244, 0.24),
  color-primary-transparent-400: rgba(90, 79, 244, 0.32),
  color-primary-transparent-500: rgba(90, 79, 244, 0.4),
  color-primary-transparent-600: rgba(90, 79, 244, 0.48),
  color-success-100: #E8FBD4,
  color-success-200: #CDF7AB,
  color-success-300: #A6E97D,
  color-success-400: #7ED359,
  color-success-500: #4BB72A,
  color-success-600: #339D1E,
  color-success-700: #1F8315,
  color-success-800: #0F6A0D,
  color-success-900: #08570C,
  color-success-transparent-100: rgba(75, 183, 42, 0.08),
  color-success-transparent-200: rgba(75, 183, 42, 0.16),
  color-success-transparent-300: rgba(75, 183, 42, 0.24),
  color-success-transparent-400: rgba(75, 183, 42, 0.32),
  color-success-transparent-500: rgba(75, 183, 42, 0.4),
  color-success-transparent-600: rgba(75, 183, 42, 0.48),
  color-info-100: #D6F6FE,
  color-info-200: #AEE9FD,
  color-info-300: #84D6FA,
  color-info-400: #65C1F5,
  color-info-500: #34A1EF,
  color-info-600: #267ECD,
  color-info-700: #1A5EAC,
  color-info-800: #10428A,
  color-info-900: #092F72,
  color-info-transparent-100: rgba(52, 161, 239, 0.08),
  color-info-transparent-200: rgba(52, 161, 239, 0.16),
  color-info-transparent-300: rgba(52, 161, 239, 0.24),
  color-info-transparent-400: rgba(52, 161, 239, 0.32),
  color-info-transparent-500: rgba(52, 161, 239, 0.4),
  color-info-transparent-600: rgba(52, 161, 239, 0.48),
  color-warning-100: #FFFCD6,
  color-warning-200: #FFF8AE,
  color-warning-300: #FFF385,
  color-warning-400: #FFEE67,
  color-warning-500: #FFE735,
  color-warning-600: #DBC326,
  color-warning-700: #B7A11A,
  color-warning-800: #937F10,
  color-warning-900: #7A670A,
  color-warning-transparent-100: rgba(255, 231, 53, 0.08),
  color-warning-transparent-200: rgba(255, 231, 53, 0.16),
  color-warning-transparent-300: rgba(255, 231, 53, 0.24),
  color-warning-transparent-400: rgba(255, 231, 53, 0.32),
  color-warning-transparent-500: rgba(255, 231, 53, 0.4),
  color-warning-transparent-600: rgba(255, 231, 53, 0.48),
  color-danger-100: #FFE7D3,
  color-danger-200: #FFC8A8,
  color-danger-300: #FFA27C,
  color-danger-400: #FF7E5C,
  color-danger-500: #FF4326,
  color-danger-600: #DB261B,
  color-danger-700: #B71317,
  color-danger-800: #930C1A,
  color-danger-900: #7A071C,
  color-danger-transparent-100: rgba(255, 67, 38, 0.08),
  color-danger-transparent-200: rgba(255, 67, 38, 0.16),
  color-danger-transparent-300: rgba(255, 67, 38, 0.24),
  color-danger-transparent-400: rgba(255, 67, 38, 0.32),
  color-danger-transparent-500: rgba(255, 67, 38, 0.4),
  color-danger-transparent-600: rgba(255, 67, 38, 0.48)

), custom-theme-dark, dark);





$nb-themes: nb-register-theme((

  color-primary-100: #CEFCDB,
  color-primary-200: #9EF9C2,
  color-primary-300: #6CEEAC,
  color-primary-400: #46DEA0,
  color-primary-500: #12C990,
  color-primary-600: #0DAC8A,
  color-primary-700: #099081,
  color-primary-800: #057472,
  color-primary-900: #035860,
  color-primary-transparent-100: rgba(18, 201, 144, 0.08),
  color-primary-transparent-200: rgba(18, 201, 144, 0.16),
  color-primary-transparent-300: rgba(18, 201, 144, 0.24),
  color-primary-transparent-400: rgba(18, 201, 144, 0.32),
  color-primary-transparent-500: rgba(18, 201, 144, 0.4),
  color-primary-transparent-600: rgba(18, 201, 144, 0.48),
  color-success-100: #D8FBD4,
  color-success-200: #ACF7AC,
  color-success-300: #7EE889,
  color-success-400: #5AD272,
  color-success-500: #2BB554,
  color-success-600: #1F9B50,
  color-success-700: #15824B,
  color-success-800: #0D6843,
  color-success-900: #08563E,
  color-success-transparent-100: rgba(43, 181, 84, 0.08),
  color-success-transparent-200: rgba(43, 181, 84, 0.16),
  color-success-transparent-300: rgba(43, 181, 84, 0.24),
  color-success-transparent-400: rgba(43, 181, 84, 0.32),
  color-success-transparent-500: rgba(43, 181, 84, 0.4),
  color-success-transparent-600: rgba(43, 181, 84, 0.48),
  color-info-100: #D0E9FE,
  color-info-200: #A2CFFD,
  color-info-300: #73B2FB,
  color-info-400: #5097F8,
  color-info-500: #186CF4,
  color-info-600: #1153D1,
  color-info-700: #0C3DAF,
  color-info-800: #072B8D,
  color-info-900: #041E75,
  color-info-transparent-100: rgba(24, 108, 244, 0.08),
  color-info-transparent-200: rgba(24, 108, 244, 0.16),
  color-info-transparent-300: rgba(24, 108, 244, 0.24),
  color-info-transparent-400: rgba(24, 108, 244, 0.32),
  color-info-transparent-500: rgba(24, 108, 244, 0.4),
  color-info-transparent-600: rgba(24, 108, 244, 0.48),
  color-warning-100: #FEF8CB,
  color-warning-200: #FEEF98,
  color-warning-300: #FEE365,
  color-warning-400: #FDD83F,
  color-warning-500: #FCC500,
  color-warning-600: #D8A400,
  color-warning-700: #B58500,
  color-warning-800: #926800,
  color-warning-900: #785300,
  color-warning-transparent-100: rgba(252, 197, 0, 0.08),
  color-warning-transparent-200: rgba(252, 197, 0, 0.16),
  color-warning-transparent-300: rgba(252, 197, 0, 0.24),
  color-warning-transparent-400: rgba(252, 197, 0, 0.32),
  color-warning-transparent-500: rgba(252, 197, 0, 0.4),
  color-warning-transparent-600: rgba(252, 197, 0, 0.48),
  color-danger-100: #FEE5D3,
  color-danger-200: #FEC5A8,
  color-danger-300: #FE9D7D,
  color-danger-400: #FD785D,
  color-danger-500: #FC3A28,
  color-danger-600: #D81D1D,
  color-danger-700: #B51420,
  color-danger-800: #920C22,
  color-danger-900: #780723,
  color-danger-transparent-100: rgba(252, 58, 40, 0.08),
  color-danger-transparent-200: rgba(252, 58, 40, 0.16),
  color-danger-transparent-300: rgba(252, 58, 40, 0.24),
  color-danger-transparent-400: rgba(252, 58, 40, 0.32),
  color-danger-transparent-500: rgba(252, 58, 40, 0.4),
  color-danger-transparent-600: rgba(252, 58, 40, 0.48)

), custom-theme-default, default);